@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body {
  margin: 50px;
  background-color: rgb(20, 20, 20);
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#card {
  width: 950px;
  padding: 30px;
  display: flex;
  height: 500px;
  border-bottom: solid white 1px;
}

#text {
  display: flex;
  flex-direction: column;
}

#mypic {
  animation: fadein 3s;
  float: left;
  filter: grayscale(100);
  padding: 0 100px 0 0;
}

#titles {
  animation: fadein 3s;
  animation-delay: 0.1s;
  height: 200px;
}

#title1,
#title2 {
  font-size: 50px;
}

#contents {
  animation: fadein 3s;
  animation-delay: 0.2s;
  font-family: "Noto Sans KR", sans-serif;
  color: black;
  background-color: rgba(255, 255, 255, 0.733);
  padding: 40px;
  border-radius: 5px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info_box {
  font-size: 18px;
  margin-bottom: 10px;
}

#comment_wrapper {
  animation: fadein 3s;
  animation-delay: 0.2s;
  display: flex;
  margin-top: 25px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}

#compliments {
  width: 75%;
  height: 35px;
  border-radius: 5px;
}

#cheer {
  width: 20%;
  height: 40px;
  border: none;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
}

#user_comment_wrapper {
  margin-top: 20px;
  animation: fadein 3s;
  animation-delay: 0.2s;
}

#user_comment_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  margin-bottom: 5px;
}

#user_comment {
  font-size: 20px;
  font-weight: bold;
}

.remove_btn,
.modify_btn {
  width: 100px;
  height: 40px;
  border: none;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
}

.modal {
  /*팝업 배경*/
  display: none; /*평소에는 보이지 않도록*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}
.modal .modal_popup {
  /*팝업*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  background: #ffffff;
  border-radius: 20px;
  color: black;
}
.modal .modal_popup .close_btn {
  padding: 10px 20px;
  background-color: rgb(116, 0, 0);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.modal_input {
  height: 30px;
}
