/* 초기화 */
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #201a26;
}

li {
  list-style-type: none;
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
}

a:hover,
a:focus {
  color: rgb(37, 147, 255);
}

img {
  text-decoration: none;
}

/*############### 스타일 설정 #############*/
#wrap {
  width: 100%;
  min-width: 800px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#header {
  width: 100%;
  background-color: #fcfcfc;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.header_warp {
  width: 80%;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img_a_tag > img {
  width: 150px;
}

.tw_wrapper {
  width: 600px;
  height: 15%;
  gap: 15px;
}
.todays_box,
.weathers_box {
  border: 5px solid white;
  border-radius: 25px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

#nav {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

#nav > a {
  margin-right: 25px;
  text-decoration: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease-in;
}

#container {
  width: 100%;
}

#visual {
  width: 100%;
  height: 1080px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("/img/main.jpg");
  background-attachment: fixed;
  background-position-x: 50%;
  background-position-y: 30%;
  position: relative;
}

.visual_comment {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 57px;
  font-weight: bold;
  text-shadow: 0px 0px 10px black;
}

#con-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #535353;
}

#con-wrap .cont {
  width: 800px;
  
}

#con-wrap h2 {
  margin: 100px 0;
  padding: 45px 0;
  text-align: center;
  font-size: 50px;
  color: #fff;
  text-shadow: 0px 0px 10px black;
  border-bottom: 1px solid #ccc;
  opacity:0;
}

.con {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.con .chk {
  background-color: skyblue;
  height: 40vh;
}

.con div {
  width: 50%;
}

.con-left .chk {
  margin-right: 100px;
}

#footer {
  padding: 50px 0;
  width: 100%;
  background-color: #fff;
  text-align: center;
}
