.root {
  margin: 100px auto;
  width: 800px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 241, 241);
}

.chessline {
  display: flex;
}
.chess_item_white {
  width: 100px;
  height: 100px;
  background-color: white;
}

.chess_item_black {
  width: 100px;
  height: 100px;
  background-color: black;
}

.chess_white {
  width: 100px;
  height: 100px;
  background-color: white;
}

.chess_black {
  width: 100px;
  height: 100px;
  background-color: black;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.chess_white > button > img:active {
  background-color: rgb(37, 147, 255);
}

.chess_black > button > img:active {
  background-color: rgb(37, 147, 255);
}

.display {
  display: flex;
  justify-content: center;
  align-content: center;
}

/* 인스타 모달창 CSS*/
.instagram {
  position: absolute;
  display: none;

  justify-content: center;
  top: 500px;

  box-shadow: 0px 0px 100px #444;
  visibility: hidden;
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  overflow: hidden;
  background: #ffffff;
  border-radius: 20px;
}

.instagram_header {
  margin-top: 20px;
  width: 350px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.imgbox {
  width: 35px;
  height: 35px;
  background-color: rgb(37, 147, 255);
  border-radius: 45px;
}

.instagram_close_btn {
  width: 55px;
  height: 35px;
  background-color: rgb(37, 147, 255);
  border: none;
  color: white;
  border-radius: 5px;
}

.instagram_close_btn:active {
  background-color: red;
}

.instagram_img {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.instagram_img_item {
  border-radius: 5px;
  width: 400px;
  object-fit: cover;
}

.instagram_likes {
  width: 360px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.likes_wrapper {
  width: 100px;
  height: 35px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 20px;
}

.likes_favorite {
  width: 100px;
  height: 35px;
  display: flex;
  padding: 5px;
  gap: 10px;
  font-size: 20px;
  align-items: center;
  justify-content: end;
}

.recommend_wrapper {
  width: 350px;
  height: 25px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.instagram_content {
  margin-top: 10px;
  width: 350px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  gap: 42px;
}

.contest_hashtag,
.contest_hashtag2 {
  font-size: 18px;
  font-weight: bold;
  color: rgb(37, 147, 255);
}

.link_item {
  border: none;
  text-decoration: none;
  color: inherit;
  margin-left: 20px;
}

.link_img {
  width: 25px;
}

.logo {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-content: center;
}

#header {
  width: 100%;
  background-color: #fcfcfc;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.header_warp {
  width: 80%;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img_a_tag > img {
  width: 150px;
}

.tw_wrapper {
  width: 600px;
  height: 15%;
  display: flex;
  gap: 15px;
}
.todays_box,
.weathers_box {
  border: 5px solid white;
  border-radius: 25px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

#nav {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

#nav > a {
  margin-right: 25px;
  text-decoration: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
}

a:hover,
a:focus {
  color: rgb(37, 147, 255);
}
