/*################ 초기값 설정 #############*/
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #201a26;
}

li {
  list-style-type: none;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

img {
  border: none;
}

/*############### 스타일 설정 #############*/
#wrap {
  width: 100%;
  min-width: 800px;
}

#header {
  width: 100%;
  background-color: #fcfcfc;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

header {
  width: 80%;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 150px;
}

#nav {
  display: flex;
  align-items: center;
}

nav span {
  margin-right: 25px;
}

#container {
  width: 100%;
}

#visual {
  width: 100%;
  height: 1080px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("img/main.jpg");
  background-attachment: fixed;
  background-position-x: 50%;
  background-position-y: 30%;

  position: relative;
}

.visual_comment {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3em;
}

#con-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #535353;
}

#con-wrap .cont {
  width: 800px;
}

#con-wrap h2 {
  padding: 100px 0;
  text-align: center;
  font-size: 36px;
}

.con {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.con .chk {
  background-color: skyblue;
  height: 40vh;
}

.con div {
  width: 50%;
}

.con-left .chk {
  margin-right: 100px;
}

#footer {
  padding: 50px 0;
  width: 100%;
  background-color: #fff;
  text-align: center;
}

.tw_wrapper {
  width: 800px;
  height: 15%;
  display: flex;
  gap: 15px;
}

.todays_box,
.weathers_box {
  border-radius: 25px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}
