@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    margin: 50px;
    background-color: rgb(20, 20, 20);

}

#all {

    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

#card {
    padding: 30px 30px 0px 30px;
    width: 100%;
    height: 100%;
    border-bottom: solid white 1px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

#mypic {
    filter: grayscale(100);
    padding: 0 100px 0 0;
    height: 500px;
    bottom: 0px;
    opacity: 0;
    animation: fadein 1s ease-in normal forwards;
}

#titles {
    color: white;
    opacity: 0;
    animation: fadein 1s ease 0.5s normal forwards;
    margin: 0 0 30px 0;
}

#title1 {
    font-family: "Roboto Flex", sans-serif;
    font-size: 50px;
}

#title2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 50px;
}

#contents {
    font-family: "Noto Sans KR", sans-serif;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    width: 500px;

    margin: 0 0 30px 0;
    padding: 10px;
    border-radius: 5px;

    position: relative;
}

#name {
    height: 50px;
    font-weight: bold;
    font-size: 20px;
}

#close {
    border: 0;
    background-color: transparent;

    position: absolute;
    top: 0;
    right: 0;
}

.specialani {
    opacity: 0;
    animation: fadein 1s ease 1s normal forwards;
}
