.root {
  margin: 100px auto;
  border: 10px solid black;
  width: 800px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 241, 241);
}

.chessline {
  display: flex;
}
.chess_item_white {
  width: 100px;
  height: 100px;
  background-color: white;
  filter: brightness(100);
}

.chess_item_black {
  width: 100px;
  height: 100px;
  background-color: black;
  filter: brightness(100);
}

.chess_white {
  width: 100px;
  height: 100px;
  background-color: white;
}

.chess_black {
  width: 100px;
  height: 100px;
  background-color: black;
}
