/*################ 초기값 설정 #############*/
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

img {
    border: none;
}


/*############### 스타일 설정 #############*/
#wrap {
    width: 100%;
    min-width: 800px;
}

#header {
    width: 100%;
    background-color: #fcfcfc;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

}

header {
    width: 80%;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
}

header img {
    width: 150px;
}

#nav {
    display: flex;
    align-items: center;
}

nav span {
    margin-right: 25px;
}

#container {
    width: 100%;
}

#visual {
    height: 300px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 50%;
    background-position-y: 30%;

    position: relative;

    padding: 200px 100px 200px 100px;

    background-image: url("https://moonsterleather.com/cdn/shop/articles/creative_writing_journal_1080x.jpg?v=1695818824");
    background-position: center;
    background-size: cover;
}

#title_1 {
    color: white;
    font-size: 100px;
}

#title_2 {
    color: white;
    font-size: 50px;
}

#firstpart {
    display: flex;
    justify-content: center;
    align-items: center;
}

#visitor {
    margin: 20px;
    padding: 20px 0 20px 0;
    width: 800px;
    background-color: rgba(0, 0, 0, 0.068);
    border-radius: 10px;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login>input {
    background-color: transparent;
    border-width: 0 0 1px 0;
    padding: 5px;
    margin: 5px;
}

#comment {
    display: flex;
    justify-content: center;
    align-items: center;
}

#comment>input {
    background-color: white;
    border: none;
    height: 100px;
    width: 600px;
    padding: 5px;
    margin: 5px;
}

#comment>button {
    background-color: black;
    border: none;
    color: white;
    border-radius: 50px;

    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

#secondpart {
    display: flex;
    justify-content: center;
    align-items: center;
}

#commentlist {
    width: 800px;
    min-height: 100px;
    background-color: rgba(0, 0, 0, 0.068);
    border-radius: 10px;
    padding-inline-start: 0px;

}

#commentlist>li {
    list-style: none;
    margin: 20px;
    padding: 0 0 20px 0;

    border: solid rgb(150, 150, 150);
    border-width: 0px 0px 1px 0px;
    text-indent: 15px;

}

.newbtn {
    border: none;
    float: right;
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin: 0 0 0 10px;
    filter: grayscale(100%);
    cursor: pointer;
}

.newbtn2 {
    border: none;
    float: right;
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin: 0 0 0 10px;
    filter: grayscale(100%);
    cursor: pointer;
}

#footer {
    padding: 50px 0;
    width: 100%;
    background-color: #fff;
    text-align: center;
}

.modal {
    /*팝업 배경*/
    display: none;
    /*평소에는 보이지 않도록*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    
}

.modal.on {
    display: block;
}

.modal .modal_popup {
    /*팝업*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #ffffff;
    border-radius: 20px;

}

.modal .modal_popup .close_btn, .yes_btn {
    display: block;
    padding: 10px 20px;
    background-color: rgb(116, 0, 0);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: box-shadow 0.2s;
}